#loginShow{
    border: 2px solid;
    width: 1000px;
    -moz-box-shadow: 10px 10px 16px #000000;
    -webkit-box-shadow: 10px 10px 16px #000000;
    box-shadow: 10px 10px 16px #000000;
    left: 36px;
          color: white;
          text-align: center;
          font-family: arial;
          font-size: 17px;
          font-weight: 500;
}