.menu1{
    display: inline-block;
    width:200px;
    height: 800px;
    background-color:lightgray;
    padding: 10px 10 10 10px;
  }
  
  .col-sm-2{
    width: 200px;
  }
  img{
    margin: 30 10 0 40px;
  }
  .row1{
height: 25%;
width: 100%;
  }
  .image{
    width: 222px;
    height: 180px;
  }
 .div:hover,.menu1:hover{
  -webkit-box-shadow: 3px 3px 2px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 2px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 2px 3px #ccc;
  border-radius: 10px;
 }
  .cart img{
    margin-left: 950px;
    margin-top: 0px;
  
  }
  .cart a:hover{
    color: green;
  }
  .menu1 a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  
  .wallet-page{
    height: 600px;
    width: 900px;
    background-color: khaki;
  }
  .card_head{
    background-color: aquamarine;
  }
  .card_body{
    background-color: rgb(25, 54, 102);
  }
  .wallet-show{
    border: 2px solid;
    width: 400px;
    -moz-box-shadow: 10px 10px 16px #000000;
    -webkit-box-shadow: 10px 10px 16px #000000;
    box-shadow: 10px 10px 16px #000000;
    left: 36px;
          color: white;
          text-align: center;
          font-family: arial;
          font-size: 17px;
          font-weight: 500;
    
  }
  

.modal {
  text-align: center;
  padding: 0!important;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex
}

.card-columns {
  display: -ms-flexbox;
 
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
 
 }
  
 