

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
      &nbsp;&nbsp;&nbsp;
    <a href="index.html" class="navbar-brand">GRILL ANYWHERE</a>
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
          <li class="searchbar">
              <input type="text" #search id="searchbar-input" (keyup)="searchBarFilter(search.value)">
              <i class="fa fa-search" id="searchbar-icon" aria-hidden="true"></i>
              <i class="fa fa-times" id="searchbar-cross" aria-hidden="true"></i>
            </li>
        <li class="nav-item active">
          <a style="cursor: pointer;" class="nav-link" (click)="toggleAllGriller()">All Products</a>
        </li>

       
        <!-- <li class="nav-item">
          <a href="#" routerLink="/manual" class="nav-link">Manual</a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/automatic" class="nav-link">Automatic</a>
        </li> -->

        <li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
              <span class="fa fa-user"></span> 
              <strong>Welcome {{msg}}</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                      <span class="fa fa-user" style="font-size:90px"></span>
                    </div>

                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{msg}}</strong></p>
                      <i class="fa fa-edit"></i>
                      <!-- <a style="cursor: pointer;" (click)="toggleEditProfile()">Edit
                        Profile</a> -->
                      <br /><br />
                      <hr>
                      <!-- <p class="text-left">
                        <a href="#" class="" style="text-decoration: none;">My Order</a>
                      </p>
                      <p class="text-left">
                        <a href="#" class="" style="text-decoration: none;">My Cart</a>
                      </p> -->
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" class="btn btn-danger btn-block">Log Out</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>

      </ul>
    </div>
  </div>
</nav>

<body class="container">




  <div class="tab-content">
    <!-- All products -->
    <div id="allProducts" class="container tab-pane in active">
      <br/>
      
      <span id="filter">
        
        <select #dropDown id="dropDown-input" (change)="dropDownFilter(dropDown.value)" class="form-control">
          <option>Choose City</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Chennai">Chennai</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Hyderabad">Hyderabad</option>
        </select>
      </span>
      <span id="filter">
        <select #dropDown2 id="dropDown-input2" (change)="searchBarFilter(dropDown2.value)" class="form-control">
            <option>Choose type</option>
            <option value="AutomaticGriller">Automatic Griller</option>
            <option value="ManualGriller">Manual Griller</option>
            
          </select>
        </span>
      <br /><br />
      <div class="row">
        <span id="grillerList" *ngFor="let success of grillers">
          <div class="col-md-10">
            <div class="product-grid2">
              <div class="product-image2">
                <a href="#">
                  <!-- <img class="card-img-top" src="assets/images/griller10.jpg" alt="Card image cap"> -->
                  <img class="pic-1" src="assets/images/{{success.grillImage}}">
                  <img class="pic-2" src="assets/images/{{success.grillImage}}">
                </a>
                <ul class="social">
                  <li><a data-tip="Quick View"
                      (click)="grillerInfo(success.grillId,success.grillName,success.price,success.grillerDescriptions,success.grillerType,success.location,success.grillImage)"
                      href="#grillerInfoModal" data-toggle="tab"><i class="fa fa-eye"></i></a></li>

                  <li></li>
                </ul>
                <a class="add-to-cart" (click)="grillerInfo(success.grillId,success.grillName,success.price,success.grillerDescriptions,success.grillerType,success.location,success.grillImage)"
                href="#grillerInfoModal" data-toggle="tab">Rent Now</a>
              </div>
              <div class="product-content">
                <h3 class="title"><a href="#">{{success.grillName}}</a></h3>
                <span class="price">Rent (per hr.) : {{success.price}}</span>
              </div>
            </div>
          </div>
        </span>

      </div>
    </div>

    <!-- My Profile -->
    <div>
      
      <div class="container" *ngFor="let success1 of grillers1">
        <div class="row">
          <div class="col-md-4">
              <img src="assets/images/{{success1.grillImage}}">
          </div>
          <div class="col-md-2">
            <!-- <p>|</p>
            <p>|</p>
            <p>|</p>
            <p>|</p> -->
          </div>
          <div class="col-md-6">
            <p> {{success1.grillName}}</p>
            <p>{{success1.grillerType}}</p>
            <p>{{success1.price}}</p>
            <p>{{success1.grillerDescriptions}}</p>
          </div>
        </div>         
      </div>
      
    </div>

    <!-- Modal -->
    <div id="grillerInfoModal" class="container tab-pane">
      <br/><br/>
      
      <div class="row">

        <div class="col-lg-4">
          <img class="card-img-top image" src="assets/images/{{grillImage}}" alt="Card image cap">
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h3>{{grillName}}</h3>
            </div>
            <div class="card-body">
              <br />
              <p>Type : {{grillerType}}</p>
              <p>Rent (per hr.) : {{price}}</p>
              <p>Available in : {{location}}</p>
              <p>Description : {{grillerDescriptions}}</p>
            </div>

            <div class="card-footer">
                
                <button id="rentBtn" class="btn btn-lg btn-block btn-primary" (click)="rentGriller(grillId,grillName,price,grillerDescriptions,grillerType,location,grillImage)">RENT NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>

   
<!-- payment -->
    <div id="payment" class="container tab-pane">
      <!-- <div class="container">
        <div class="row justify-content-md-center">
         <div class="card"  style="width: 40rem;">
          <h2 class="card-header">Register</h2>  
            <div class="card-body">
              <form [formGroup]="userForm" novalidate (submit)="pay()">
                <div class="formgroup">
                  <label for="name">Your Name</label>
                  <input type="text" formControlName="name" name="name" placeholder="User Name ..." class='form-control input' [ngClass]="{ 'is-invalid': submitted && userForm.controls['name'].errors }"/>
                
                  <div *ngIf="submitted && userForm.controls['name'].errors" class="invalid-feedback">
                      <div *ngIf="userForm.controls['name'].errors.required">Name is required</div>
                  </div>
                </div>
    
               
    
                <div class="form-group">
                  <label for="address">Landmark</label>
                  <input type="textarea" formControlName="address"
                   name="address" placeholder="User Address ..."
                    class='form-control input' [ngClass]="{ 'is-invalid': submitted && userForm.controls['address'].errors }" />
                    <div *ngIf="submitted && userForm.controls['address'].errors" class="invalid-feedback">
                        <div *ngIf="userForm.controls['address'].errors.required">Landmark is required</div>
                    </div>
                </div>
    
                <div class="form-group">
                  <label for="phn_no">Contact Number</label>
                  <input type="number" formControlName="phn_no" name="phn_no"
                   placeholder="User Mobile No ..." class='form-control input' [ngClass]="{ 'is-invalid': submitted && userForm.controls['phn_no'].errors }" />
                   <div *ngIf="submitted && userForm.controls['phn_no'].errors" class="invalid-feedback">
                      <div *ngIf="userForm.controls['phn_no'].errors.required">Contact Number is required</div>
                  </div>
                </div>
    
                
              
                <div class="form-group">
                <input type="submit" name="save" value="Continue" class='btn-primary button' />
              </div>   
                         
              </form>
            </div>
          </div>
      </div> -->
    
  

      <button type="submit" class="btn btn-lg btn-block btn-secondary" (click)="rentGriller(success.grillName,success.price,success.grillerDescriptions,success.grillerType,success.location,success.grillImage)">Continue</button>
               
    </div>

    <div id="myCart" class="container tab-pane">
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
    
  </div>

  

  
</body>