<!-- <div class="container">
    
              <div >
                  <h1 class="h1">AUTOMATIC GRILLERS</h1><br>
                <div class="card-deck">
          <div class="row" style="margin-bottom:25px">
                <div class="column">
                        <div class="card" style="width: 16rem;">
                                <img class="card-img-top" src="assets/images/griller5.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <hr>
                                  <p class="card-text">Grill Machine</p>
                                  <hr>
                                  <p>Starts From $866</p>
                                </div>
                              </div>
                </div>
                <br>
              
                <div class="column">
                        <div class="card" style="width: 16rem;">
                                <img class="card-img-top" src="assets/images/griller6.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <hr>
                                  <p class="card-text">Tabletop Electric Grill  </p>
                                  <hr>
                                  <p>Starts From $466</p>
                                </div>
                              </div>
                </div>
                
                <div class="column">
                        <div class="card" style="width: 16rem;">
                                <img class="card-img-top" src="assets/images/griller7.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <hr>
                                  <p class="card-text">Prestige Electric  Griller</p>
                                  <hr>
                                  <p>Starts From $950</p>
                                </div>
                              </div>
                </div>
                
                <div class="column">
                        <div class="card" style="width: 16rem;">
                                <img class="card-img-top" src="assets/images/griller8.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <hr>
                                  <p class="card-text">Hot Dog 11 Roller</p>
                                  <hr>
                                  <p>Starts From $450</p>
                                </div>
                              </div>
                </div>
              </div>
            </div> 
         -->
         <body class="container">


    
          <div id="menu" class="card-columns" >
          <ul>
            <div class="card-columns ">
            <li *ngFor="let success of grillers">
                <div class="column">
                    <div class="card" style="width: 18rem;height:28rem">
                        <div class="card-body">
                      <img class="card-img-top" src="assets/images/griller10.jpg" alt="Card image cap">
                      
                        <hr>
                        <p class="card-text">{{success.grillName}}</p>
                        <hr>
                        <p>Starts From {{success.price}}$</p>
                        <hr>
                        <a href="#">More Info</a>
                      </div>
                    </div>
                  </div>
            </li>
          </div>
            </ul>
          </div>
        </body> 