<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <a class="navbar-brand" href="#">OWNER DASHBOARD</a>
  <div class="input-group col-sm-2">
    
    </div>
  
</nav>
<div class="row">
  <div class="menu1">
    <img src="assets/image/user-icon.png" width="100px" height="100px" /><br /><br />
   
    <div></div>
    <ul class="list-group">
      <li class="list-group-item bg-dark">

        <a href="#" class="">My Profile</a>

      </li>
      <li class="list-group-item bg-dark">

          <a  href="#" data-toggle="modal" data-target="#myModal">Add Griller</a>

      </li>
      
      <li class="list-group-item bg-dark">

        <a href="#" class="">Sign Out</a>

      </li>
    </ul>

  </div>


  
  <body class="container">


    
    <div id="menu" class="card-columns" >
    <ul>
      <div class="card-columns ">
      <li *ngFor="let success of grillers">
          <div class="column">
              <div class="card" style="width: 18rem;height:28rem">
                  <div class="card-body">
                <img class="card-img-top" src="assets/images/griller10.jpg" alt="Card image cap">
                
                  <hr>
                  <p class="card-text">{{success.grillName}}</p>
                  <hr>
                  <p>Starts From {{success.price}}$</p>
                  <hr>
                  <a href="#">More Info</a>
                </div>
              </div>
            </div>
      </li>
    </div>
      </ul>
    </div>
  </body> 
  
  
  <br><br>
  <div class="container" >
      
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <h4 class="modal-title text-danger"  >GRILLER INFORMATION</h4>
            </div>
            <div class="modal-body">
              
  <div *ngIf="errorMessage" class='error text-primary'>
      {{errorMessage}}
    </div>
    <form [formGroup]="userForm">
    
                
            <br/>
            <div class="col-xs-6">
              <span>
                <input type="text" formControlName="grillName" id="grillName" placeholder="GrillName" class='form-control '>
              </span><span *ngIf="userForm.status =='INVALID' ">
                <span class='text-danger' *ngIf="userForm.controls['grillName'].errors">
                  <span *ngIf="userForm.controls['grillName'].errors.required">
                    * Name is Required
                  </span>
                </span>  </span>
            </div><br>
            <div class="col-xs-4">
              <span>
                <input type="number" formControlName="price" id="price" placeholder="Enter price" class='form-control '>
              </span>
              <span *ngIf="userForm.status =='INVALID' ">
                <span class='text-danger' *ngIf="userForm.controls['price'].errors">
                  <span *ngIf="userForm.controls['price'].errors.required">
                    * Price is Required
                  </span>  
                </span>  </span>
            </div><br>
            <div class="col-xs-4">
              <span>
                <select class='form-control ' formControlName="grillerType">
                  <option>---Select Type of Griller</option>
                  <option value="electric-griller">Manual Griller</option>
                  <option value="charcoal-griller">Automatic Griller</option>
                  <option value="gas-griller">Gas Griller</option>
                </select>
              </span>
              <span *ngIf="userForm.status =='INVALID' ">
                <span class='text-danger' *ngIf="userForm.controls['grillerType'].errors">
                  <span *ngIf="userForm.controls['grillerType'].errors.required">
                    * GrillerType is Required
                  </span>  
                </span>  </span>
            </div>
            <br/>
            <div class="col-xs-4">
              <span>
                <select formControlName="location" class='form-control '>
                  <option>---Select Location</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Hyderabad">Hyderabad</option>
                </select>
              </span>
              <span *ngIf="userForm.status =='INVALID' ">
                <span class='text-danger' *ngIf="userForm.controls['location'].errors">
                  <span *ngIf="userForm.controls['location'].errors.required">
                    * Location is Required
                  </span>  
                </span>  </span>
            </div>
            <br>
            <div class="col-xs-4">
              <span><textarea formControlName="grillerDescriptions" rows="5" cols="60" placeholder="Give Griller Description....."class='form-control '></textarea></span>
              
              <span *ngIf="userForm.status =='INVALID' ">
                <span class='text-danger' *ngIf="userForm.controls['grillerDescriptions'].errors">
                    <span *ngIf="userForm.controls['grillerDescriptions'].errors.required">
                      * Descriptions is Required
                    </span>
                </span>  
              </span>
            </div>

            <div class="form-group">
              <label for="file">Upload Image</label>
              <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" >
            </div>
                <br/>
                <div class="modal-footer" >
                  <div class="col-sm-10">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>&nbsp;
                    <button type="submit" class='btn btn-primary btn-lg' (click)="save(userForm)">SAVE</button></div>
                  </div>
                  </form>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </div>

