
.button{
 height: 40px;
    width: 250px;
    font-size: 20px;
}
h1{
    text-align: center;
    color: blue;
}
.input{
    border: 2px solid gray;
    border-color:gray;
    width: 650px;
    height: 50px;
}