<div>
  <img src="assets/image/icon3.png" style="width:1500px;height:500px;margin-left: 50px" />
  <br/>
  <div class="scroll">
  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
  <span class="img-move">
    <span class="img-move">
      <h4 class="font-weight-lighter text-center text-warning">Gas Griller</h4>
      <img src="assets/image/icon1.jpg" style="width:400px;height:200px">
    </span>
    &nbsp;
    <span class="img-move">
        <h4 class="font-weight-lighter text-center text-warning">Sirlion Griller Steaks</h4>
        <img src="assets/image/sirloin.jpg" style="width:400px;height:200px">
    </span>
    &nbsp;
    <span class="img-move">
        <h4 class="font-weight-lighter text-center text-warning">Imarflex ICG-250T Griller</h4>
        <img src="assets/image/icon6.jpg" style="width:400px;height:200px">
    </span>
    &nbsp;
    <span class="img-move">
        <h4 class="font-weight-lighter text-center text-warning">Pigeon Sandwich Griller 700 Watts</h4>
        <img src="assets/image/icon5.jpg" style="width:400px;height:200px">
    </span>
    &nbsp;
    <span class="img-move">
        <h4 class="font-weight-lighter text-center text-warning">Sandwich Griller SG-JUMBO</h4>
        <img src="assets/image/icon4.jpg" style="width:400px;height:200px">
    </span>
    &nbsp;
    <span class="img-move">
        <h4 class="font-weight-lighter text-center text-warning">Emile Henry Flame Fish Griller Slate</h4>
        <img src="assets/image/icon.jpg" style="width:400px;height:200px">
    </span>
  </span>
  </marquee>
  </div>
</div>